<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Bookstore</title>
</head>
<body style="background-color: yellow">
    <h1>Online Bookstore</h1>
    <em>Welcome to online bookstore</em>
    <img src="https://images.squarespace-cdn.com/content/v1/59ae0038579fb377b9b42197/1586221856510-III5A5PVA82RL8J298CG/ORDER+BOOKS+ONLINE+HERE.png?format=1000w"alt="Picture of books">

    <center>
        <h2>Contact</h2>
            <h3>www.booklover.com</h3>
            <h4>+1(312)8771456</h4>
            <h5>1028nElmhurst Rd, Mt Prospect, IL 60056</h5>
    </center>

</body>
</html>